.outline
{
     /* background-color:rosybrown;  */
    background: url("pic.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    border-style: solid;
    text-align: center;
    margin:100px; 
    padding-right: 50px;
    border-right-color: rgb(0, 255, 85);
    border-left-color: rgb(80, 248, 14);
}
